* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding-top: 100px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 0px 40px;
    height: 100px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo{
    max-height: px;
    width: auto;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    margin: 0 20px;
}

#navbar li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    transition: 0,3s ease;
}

#navbar li a:hover{
    color: #007BFF;
    transform: translateY(-3px) scale(1.1);
}

#hero {
    background-image: url(images/Sky.jpg);
    background-position: top 25% right 0;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero h2{
    margin-top: 150px;
    color: black;
    font-size: 48px;
    font-weight: bold;
}

#hero p {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

 #hero button {
    color: black;
    font-size: 48px;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    margin-top: 150px;
    transition: color 0.3s ease, transform 0.3s ease;
}

#hero button:hover {
    color: #007BFF;
    transform: translateY(-3px) scale(1.1);
    cursor: pointer;
}