* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding-top: 100px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 0px 40px;
    height: 100px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo{
    max-height: 95px;
    width: auto;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    margin: 0 20px;
}

#navbar li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}